@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Dosis:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Kaushan+Script|Parisienne|Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Qwigley');

* {
 box-sizing: border-box;
 /* font-family: 'Dosis', sans-serif;  */
 margin: 0;
 border: none;
 color: white;
}

a {
  text-decoration: none;
}



.App {
  text-align: center;
    /* background: rgb(60, 60, 55); */
  /* padding: 20px; */
  background-size: cover;
  height: 100%;
}



.App-header {
  background-color: rgb(100, 100, 95);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header p {
  padding: 20px;
  font-family: 'Dosis';
  font-size: 1.5em;
  color: rgb(250, 210, 0);

}

.App-header h1 {
  font-size: 4em;
  /* color: rgb(250, 200, 0); */
  font-family: 'Dosis';  
  font-weight: 200;
}

#blink-blink {
  animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 1;
  }
  51% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}


/* .icons */

.icons img{
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid rgb(150, 150, 145);
}

.icons img:hover {
  border: 2px solid rgb(250, 210, 0);

}

nav {
  border-bottom: 5px solid white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(100, 100, 95);

}

main {
  height: 100%;
  /* background: linear-gradient(to right, rgb(50,50,45) 45%, rgb(80,80,75) 75%, rgb(60,60,55) 86%); */
}

.section-name {
 /* margin-right: 5px; */
  font-family: 'Dosis';
  font-weight: 700;
  padding: 13px;
  width: calc(100%/4);
  background: linear-gradient(5deg, rgb(120,120,115) 21%, rgb(150,150,145) 96%);
 color: black;
  cursor: pointer;
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
  margin-left: 2px;
}

#section-true {
  color: rgb(250, 210, 0);
  background: linear-gradient(to right, rgb(60,60,45) 35%, rgb(80,80,75) 65%, rgb(60,60,55) 86%);  
  }

.section-content {
  /* background: rgb(220,220,210); */
  /* height: 100%; */
  /* display: block; */
  flex:1;
  padding:25px;
  background: linear-gradient(to right, rgb(50,50,45) 45%, rgb(80,80,75) 75%, rgb(60,60,55) 86%);  
  height: 100%; 
}



.about {
  font-family: 'Dosis';
  letter-spacing: 1px;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.about div {
  text-align: left;
  line-height: 2;
}

.about img {
  width: 160px;
  height: 160px;
  border-radius: 24%;
  border: 5px solid rgb(150, 150, 145);
  margin-right: 35px;
}

.projects {
  max-width: 900px;
  margin: auto;
}

.projects img {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  border: 5px solid rgb(150, 150, 145);
  overflow: hidden;
  margin-right: 25px;
}

.proj-upper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  font-family: 'Dosis';
}
.proj-title {
  color: rgb(249, 208, 0);
  font-size: 2em;
  margin-right: 25px;
}
.proj-links {
  font-size: 0.8em;
  margin-right: 25px;
  vertical-align: top;
}
.proj-links a {
  text-decoration: none;
}


.proj-lower {
  padding: 25px;
  font-family: 'Dosis';
  text-align: left;
  letter-spacing: 1px;
}

.skills {
  font-family: 'Dosis';
  font-size: 3em;
  margin: auto;
  width: 500px;
}

#one {
  color: rgb(200, 200, 195);
  font-style: oblique;
  font-size: 1em;
}
#two {
  color: white;
  font-weight: 600;
}
#three {
  color: rgb(250, 210, 0)
}
#four {
  color: rgb(200, 200, 195);
  font-size: 1.5em;
}
#five {
  color: white;
  font-style: italic;
  font-weight: 500;
}
#six{
  color: rgb(200, 200, 195);
}
#seven {
  color: rgb(200, 200, 195);
  font-weight: 700;
}

.contact {
  
  /* padding: 50px; */
  font-family: 'Dosis';
}

.contact form {
  /* width: 400px; */
  margin: auto;
}

.contact input[type=text] {
  padding: 10px;
  width: 300px;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
}

textarea {
  padding: 10px;
  width: 300px;
  height: 200px;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
}

.contact input[type=submit] {
  /* border: none; */
  color: white;
  background: linear-gradient(5deg, rgb(120,120,115) 21%, rgb(150,150,155) 96%);
  border-radius: 3px;
  border: 1px solid rgb(150, 150, 145);
  padding: 10px;
  font-size: 14px;
  font-family: 'Dosis';
}


@media (max-width:500px) {
  .App-header {
    height: auto;
    justify-content: flex-start;
    /* padding: 10px; */
  }
  .App-header h1 {
    font-size: 1.5em;
  }

  .App-header p {
    font-size: 1em;

  }
  main {
    flex-direction: column;
    /* height: 650px; */
  }

  nav {
    flex-direction: column;
  }
  .section-name {
    text-orientation: initial;
    writing-mode: horizontal-tb;
    width: 100%;
    /* float: left; */
    text-align: center;
    height: auto;
    padding: 8px;
    padding-right: 15px;
    border-bottom: rgb(50,50,45) solid 1px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  #section-true {
    border-bottom: rgb(100, 100, 95);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .section-content {
    width: 100%;
    border: none;
  }
  .proj-upper {
    padding: 5px;
    font-family: 'Dosis';
  }
  .proj-lower {
    display: none;
  }
  .skills {
    font-size: 2em;
    width: 100%;
  }
  .about {
    flex-direction: column;
  }
  .contact input {
    width: calc(100%-20px);
  }
  .projects img {
    width: 50px;
    height: 50px;
    border: 3px solid rgb(150, 150, 145);
    margin-right: 15px;
  }
  .proj-title {
    color: white;
    font-size: 1.5em;
    margin-right: 25px;
  }
}